<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название будет products -->
{% block title %}
{% endblock title %}

<!-- В контенте на странице выводим все товары -->
{% block content %}
    <h1>Все новости</h1>
    <h4>{{ time_now|date:'M d Y' }}</h4>
    <h4>Количество: {{ news|length }}</h4>
    <hr>

    <form style="text-align: center" action="" method="get">
        {{ filterset.form.as_p }}
        <br>
        <input type="submit" value="Найти" />
    </form>

    <hr>
    <br>

    {% if news %}
        <table>
            <tr>
                <td style="padding-left: 20px; padding-right: 20px"><h5>Заголовок</h5></td>
                <td style="padding-left: 20px; padding-right: 10px"><h5>Дата публикации</h5></td>
                <td style="padding-left: 20px; padding-right: 10px"><h5>Вид поста</h5></td>
                <td style="padding-left: 500px; padding-right: 10px"><h5>Содержание</h5></td>
            </tr>
            {% for post in news %}
                <tr>
                    <td style="padding-left: 10px; padding-right: 20px">{{ post.title|censor }}</td>
                    <td style="padding-left: 40px; padding-right: 20px">{{ post.post_date|date:'d M Y' }}</td>
                    {% if post.p_type == 'NE' %}
                        <td style="padding-left: 30px; padding-right: 20px">Новости</td>
                    {% else %}
                        <td style="padding-left: 30px; padding-right: 20px">Статья</td>
                    {% endif %}
                    <td style="padding-left: 30px; padding-right: 20px">{{ post.text|censor|truncatewords:20 }}</td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2 style="text-align: center">Актуальных новостей нет !</h2>
        <hr>
    {% endif %}

    <br>

    {# Пагинация #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}

<!--    <a style="padding-left: 800px" href="?page=1">1</a>-->
        <a style="padding-left: 800px" href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.number != 2 %}
                ...
            {% endif %}
<!--        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>

        {% endif %}

    {% endif %}

    {# Информация о текущей странице #}

    {% if page_obj.number == 1 %}
        <a style="padding-left: 800px">{{ page_obj.number }}</a>
    {% else %}
        {{ page_obj.number }}
    {% endif %}

    {# Информация о следующих страницах #}

    {% if page_obj.has_next %}

<!--    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>-->
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
<!--        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>-->
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}

    {% endif %}
{% endblock content %}
