<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название будет products -->
{% block title %}
{% endblock title %}

<!-- В контенте на странице выводим все товары -->
{% block content %}
<h1 style="text-align: center">Все опубликованные посты</h1>
<h4 style="padding-left: 20px">{% cur_time '%b %d %Y' %}</h4>
<h4 style="padding-left: 20px">Количество: {{ posts|length }}</h4>
<hr>

<h5 style="padding-left: 20px; padding-right: 40px">Категория: {{ cur_ctg.name }}</h5>
    {% if user.is_authenticated %}
        {% if is_subscribed %}
            <button style="margin-left: 20px"> <a class="nav-link" href="{% url 'unsubscribe_ctg' cur_ctg.id %}"> Отписаться </a> </button>
        {% else %}
            <button style="margin-left: 20px"> <a class="nav-link" href="{% url 'subscribe_ctg' cur_ctg.id %}"> Подписаться </a> </button>
        {% endif %}
    {% endif %}
    <hr><br>

    {% if posts %}
        <table>
            <tr>
                <td style="padding-left: 20px; padding-right: 20px"><h5>Заголовок</h5></td>
                <td style="padding-left: 20px; padding-right: 10px"><h5>Дата публикации</h5></td>
                <td style="padding-left: 20px; padding-right: 10px"><h5>Вид поста</h5></td>
                <td style="padding-left: 500px; padding-right: 10px"><h5>Содержание</h5></td>
            </tr>
            {% for post in posts %}
                <tr>
                    <td style="padding-left: 10px; padding-right: 20px">{{ post.title|censor }}</td>
                    <td style="padding-left: 40px; padding-right: 20px">{{ post.post_date|date:'d M Y' }}</td>
                    {% if post.p_type == 'NE' %}
                        <td style="padding-left: 30px; padding-right: 20px">Новости</td>
                    {% else %}
                        <td style="padding-left: 30px; padding-right: 20px">Статья</td>
                    {% endif %}
                    <td style="padding-left: 30px; padding-right: 20px">{{ post.text|censor|truncatewords:20 }}</td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2 style="text-align: center">Актуальных новостей/статей нет !</h2>
        <hr>
    {% endif %}

    <br>

    {# Пагинация #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}

<!--    <a style="padding-left: 900px" href="?page=1">1</a>-->
        <a style="padding-left: 900px" href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.number != 2 %}
                ...
            {% endif %}
<!--        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>

        {% endif %}

    {% endif %}

    {# Информация о текущей странице #}

    {% if page_obj.number == 1 %}
        <a style="padding-left: 900px">{{ page_obj.number }}</a>
    {% else %}
        {{ page_obj.number }}
    {% endif %}

    {# Информация о следующих страницах #}

    {% if page_obj.has_next %}

<!--    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>-->
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
<!--        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>-->
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}

    {% endif %}
{% endblock content %}
